<head>
  <style>
    body {
      background-color: #E7E9EB;
      display: grid;
      place-items: center;

      #myDIV {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        background-color: #1d2329;
        padding: 10px;
      }

      #myDIV div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        justify-items: center;
        padding: 20px;
        font-size: 20px;

      }


      .course-container {
        display: grid;
        justify-items: center;
        border: 2px solid black;
      }



      .courselist {
        grid-area: 1 / 1 / span 1 / span 1;

      }

      .studentlist {
        grid-area: 1 / 2 / span 1 / span 3;
      }

      .studentinfo {
        grid-area: 2 / 1 / span 2 / span 2;
      }

      .gradeinfo {
        grid-area: 2 / 3 / span 2 / span 2;

      }

      .btn {
        background-color: rgb(255, 255, 255);
        color: black;
        border: 2px solid #008CBA;
      }

      .btn:hover {
        background-color: #4532db;
        color: white;
        transform: scale(1.5)
      }

    }
  </style>
</head>

<body>
  <div id="myDIV">

    <div class="courselist">
      <h3>Current Courses</h3>
      <div class="text-center course-container">
        {{#each courses}}
        <p>
          <button class="btn btn-secondary"><a href="/course/{{this.id}}">{{this.course_name}}</a></button>
        </p>
        {{/each}}
      </div>
    </div>

    <div class="studentlist"> {{#if students.length}}
      <h3>Registered Students</h3>
      <div class="studentSection">
        {{#each students}}
        {{!-- use id value of user to target specific student --}}
        <p>
          <button class="btn btn-secondary">
            {{this.first_name}} {{this.last_name}}</a></button>
        </p>
        {{/each}}
      </div>
    </div>

    {{!-- render student information for the id selected in student dropdown... might need to use a helper --}}
    <div class="studentinfo">
      <h3>Student ID </h3>
      {{#each students}}
      <div>Student name: <strong> {{this.first_name}} {{this.last_name}} </strong></div>
      <div> ID Number: <strong>{{this.id}} </strong></div>
      <br>
      <p>-------------------------------------- </p>
      {{/each}}
    </div>
    {{/if}}

    {{#if grades.length}}

    <div class="gradeinfo">
      <h3>Student Information:</h3>
      {{#each grades as |grade| }}

      <p><strong>{{student.first_name}} {{student.last_name}}</strong></p>
      {{!-- <p><strong>{{grade.id}}</strong></p> --}}
      <p>Their total grade is <strong>{{grade.value}}</strong>.</p>
      <p>This is their grade in the course: <strong>{{grade.course.course_name}}</strong></p>
      {{!-- <p>With ID number: <strong>{{grade.course_id}}</strong></p> --}}
      <p>The course's description is as follows: <strong>{{grade.course.description}}</strong></p>
      <p>This course belongs to the department: <strong>{{grade.course.department.department_name}}</strong></p>

      {{#if courses.length}}
      {{#each courses as |course| }}

      <p>The course belongs to this department: <strong>{{course.id}}</strong></p>

      {{/each}}
    </div>
    {{/if}}

    <p>-------------------------------------- </p>

    {{/each}}

    {{/if}}

  </div>

  <br> <br>

  </div>
</body>