<h1>Hello there...</h1>

<div>

  {{#if enrollment.length}}
    <h3>Current students:</h3>
    <div class="col-md-6 project-list">
      {{#each enrollment}}

        <div> student id: {{this.id}} </div>
        <div>student name: {{this.student_id}} {{this.course_id}} {{this.grades_id}}</div>
        <br>

      {{/each}}
    </div>
  {{/if}}

<h1> Hello there 2 2 2 <h1>


  {{#if grades.length}}
    <h3>Current Grades:</h3>
    <div class="col-md-6 project-list">
      {{#each grades}}

        <div>{{this.value}}</div>
          <br>
        <div>{{this.student_id}}</div>
          <br>
        <div>{{this.course_id}}</div>
          <br>  <br>

        <p>does not work here:</p>

        {{!-- not working.... --}}
        <div>{{this.student.first_name}}</div>
        <div>{{this.student.last_name}}</div>
        <div>{{this.course.course_name}}</div>
        <div>{{this.course.description}}</div>

        <p>ends here</p>
        
      {{/each}}
    </div>
  {{/if}}


  <br>  <br>  <br>  <br>  <br>  <br>

  {{#if students.length}}
    <h3>Current students:</h3>
    <div class="col-md-6 project-list">
      {{#each students}}

        <div> student id: {{this.id}} </div>
        <div>student name: {{this.first_name}} {{this.last_name}}</div>
        <br>

      {{/each}}
    </div>
  {{/if}}

  {{!-- CheckPoint!!! --}}h=

  {{#if courses.length}}
    <div class="col-md-6 project-list">
      <h3>Current Courses:</h3>

      {{#each courses}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/course/{{this.id}}">{{this.course_name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{this.id}}">DELETE</button>
          </div>

          <div>{{this.description}}</div>

          <hr>
          <div>{{this.department_id}}</div>

          <hr>
          <div>{{this.department.department_name}}</div>
          
        </div>

        {{!-- <div>
          <div>{{enrollment.Student.first_name}}</div>
          <div>{{enrollment.Student.last_name}}</div>
          <div>{{enrollment.Course.course_name}}</div>
          <div>{{enrollment.Course.description}}</div>
          <div>{{enrollment.Grades.value}}</div>
        </div> --}}
      {{/each}}
    </div>
  {{/if}}


    <br><br><br>

    {{#if grades.length}}
    <h3>Current Grades:</h3>
    <div class="col-md-6 project-list">
      {{#each grades as |grade| }}
        <div>{{grade.value}}</div>
        <div>{{grade.student.first_name}}</div>
        <div>{{grade.student.last_name}}</div>
        <div>{{grade.course.course_name}}</div>
        <div>{{grade.course.description}}</div>
      {{/each}}
    </div>
  {{/if}}


</div>



